@font-face {
  font-family: OpenSansSemibold;
  src: url('../assets/fonts/OpenSans/OpenSans-Semibold.ttf');
}
* { margin: 0px !important; padding: 0px !important; overflow-y: hidden !important; overflow-x: hidden !important; }
html, body { background: #b7b7b7 !important;  color: #ddd; }


html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline
}

body {
  color: #222222;
  font-family: "Open Sans", "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  cursor: default;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block
}

ol,ul {
    list-style: none
}

blockquote,q {
    quotes: none
}

blockquote:before,blockquote:after,q:before,q:after {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

nav {
    height: 48px !important;   
}

a {
  color: #009bda;
}

i {
  margin-right: 3px;
}

p, span {
  letter-spacing: 0.6px;
}

pre {
  font-family: inherit;
  font-weight: normal;
  line-height: 1.6;
  letter-spacing: 0.6px;
  white-space: pre-wrap;
  /* CSS 3 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
}

label {
  font-weight: bold;
  cursor: default;
}

/* layout */
.center {
  margin: 0 auto;
  text-align: center; 
}

.hide {
  display: none;
}

.top-bar-section ul li {
  background: transparent !important;
}

.header-content {
  height: 48px !important;
}

.top-content {
  
}

.center-content {
  height: 200px; 
  border-top: 1px solid #e5e5e5;
}

.bottom-content {
  height: 322px; 
  border-top: 1px solid #e5e5e5;
}

.footer-content {
  height: 100px; 
  border-top: 1px solid #e5e5e5
}

/* custom */
.water {
  opacity: 0.95;
}

.circle {
  display: block;
  width: 150px;
  height: 150px;
  margin: 1em auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  border: 5px solid #eee;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);  
}

.shadow {
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
  content: "";
  height: 56px;
  left: -2%;
  position: fixed;
  width: 104%;
}

/* text */
.tiny {
  font-size: 12px !important;
}

.medium {
  font-size: 18px !important;
}

.large {
  font-size: 24px !important;
}

.x-large {
  font-size: 36px !important;
}

.xx-large {
  font-size: 48px !important;
}

.xxx-large {
  font-size: 64px !important;
}

.huge {
  font-size: 72px !important;
}

.skinny {
  font-size: 24px !important;
  font-weight: 300;
}

.black-text {
  color: #111;
}

.white-text {
  color: #fff;
}

.dark-gray-text {
  color: #aaa !important;
}

.red-text {
  color: #c50000 !important;
}

.blue-text {
  color: #009bda !important;
}

.pink-text {
  color: #f1158c;
}

.purple-text {
  color: #6f4a4a;
}

.title-text {
  padding: 0px;
}

.heading-text {
  font-weight: bold;
}

.subheading-text {
  font-weight: normal;
}

.phone-text {
  font-weight: bold;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.copyright-text {
  color: #8f8f8f;
  font-weight: 100;
  margin-top: 34px;
  padding-bottom: 6px;
}

/* image backgrounds */
.cover-background {
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* color backgrounds */
.gray-background {
  background: #e8e8e8 !important;
}

.white-background {
  background: #fff !important;
}

.smoke-background {
  background: #f5f5f5 !important;
}

.dark-gray-background {
  background: #ddd !important;
}

.black-background {
  background: #111 !important;
}

.green-background {
  background-color: green !important;
}

.pink-background {
  background-color: #f1158c !important;
}

.red-background {
  background-color: #c50000 !important;
}

.blue-background {
  background-color: #009bda !important;
}


/* buttons */
.button {
  border-radius: 3px !important;
}

/* application */
#app { display: block; float: left; }
#app span.logo.image { display: block; position: relative; top: -40px; width: 96px; height: 96px; }
#app span.logo.text { display: block; position: relative; top: -100px; left: 90px; font-size: 40px; font-weight: bold; text-align: left; color: white; padding: 5px 0 0 20px; }

html.app { height: 100%; }

body.app { font-family: Ubuntu; height: 100%; margin: 0; padding: 0; overflow: hidden; background: #ddd !important; }
footer.app { background: black; width: 100%; height: 64px; z-index: 1; position: absolute; bottom: 0px; }

body.app div.content { width: 100%; height: 100%; background: black no-repeat center center fixed; }

.less {
  color:#999;
  font-size:12px;
}

iframe.book { border: 0 none !important; width: 100% !important; height: 936px !important; overflow: hidden; }
#wrapper { display: block; width: 99% !important; min-height: 936px !important; margin: 0 auto !important; text-align: center; padding: 6px 10px; border:0px none; }
#previewer { background: #eee; width: 19%; display: block; height: 100vh !important; position: relative; float: left; overflow-y: scroll !important; overflow-x: hidden !important; }
#gallery { padding-top: 10px !important; }
#reader { background: transparent; border: 0px none; width: 81%; display: block; min-height: 936px !important; position: relative; float: left; margin: 0px; padding: 0px; }
.placeholder img { padding: 0px; margin: 10px 30px 5px; border: 3px solid #333; width: 280px; }

::-webkit-scrollbar {
  background: #ddd;
  height: 2px;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #aaa; /*-webkit-gradient(linear, 0% 0%, 0% 100%, from(#F0F0F0), to(#D2D2D2));*/
  -webkit-border-radius: 1ex;
  padding: 2px;
  height: 2px;
  width: 8px;
}


