body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    background: #111 url('../images/15702210_xl.jpg') no-repeat;
    background-size: cover;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}

.container {
    background: rgba(0, 0, 0, 0.4);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    z-index: 2;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 111px;
    margin-left: 60%;
    color: white;
    float: right;
}

h1, h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label, input {
    margin-bottom: 10px;
}

button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 10px;
}

button.btn.btn-danger {
    background-color: #DC3545;
}

button.btn.btn-warning {
    background-color: #FFC107;
}

button.btn.btn-success {
    background-color: #28A745;
}

button.btn.btn-secondary {
    background-color: #5A6268;
}

button:hover {
    background-color: #0056b3;
}

.deleteButton {
    position: relative;
    top: 0px;
}

.dateText {
    position: relative;
    top: -20px;
    display: block;
    float: right;
    padding: 8px;
    font-size: 10px;
    border-radius: 10px;
    font-weight: bolder;
    color: #f5f5f5;
    background: #111;
}

.taskText {
    position: relative;
    top: 0px;
}

.doneText {
    position: relative;
    top: -4px;
    display: block;
    visibility: hidden;
    float: right;
    padding: 8px;
    font-size: 10px;
    border-radius: 10px;
    font-weight: bolder;
    color: #f5f5f5;
    background-color: green;
}

ul {
    list-style: none;
}

li {
    padding: 10px;
    background: rgba(0, 0, 0, 0.75);
    margin-bottom: 30px;
    border-radius: 4px;
    color: #f5f5f5;
    font-size: 15px;
    border: 2px solid #000;
}

li::-webkit-scrollbar-thumb {
    background: #aaa;
    -webkit-border-radius: 1ex;
    padding: 2px;
    height: 2px;
    width: 5px;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.slider {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 1;
    margin-left: 20px;
}

.slider img {
    margin-top: 148px;
    margin-left: 190px;
    border-radius: 25px;
    max-width: 70%;
    max-height: 100%;
    object-fit: cover;
    border: 10px solid black;
}

#taskList {
    border-radius: 10px;
    padding: 10px;
    overflow-x: hidden;
    max-height: 336px;
}

.speech-bubble {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: #333;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
    max-width: 400px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: none;
}

#categoryBlock {
    display: block;
    width: 40%;
    left: 0px;
    top: 5px;
}

#filterCategoryBlock {
    display: block;
    width: 50%;
    position: relative;
    left: 165px;
    top: -20px;
}

label {
    width: 40%;
}

select {
    width: 50%;
}

.categoryLabel {
    padding: 5px 10px;
    border-radius: 10px;
    color: white;
    font-size: 0.9em;
    font-weight: bold;
    margin: 5px 0;
    position: relative;
    top: -50px;
}

::-webkit-scrollbar-thumb {
    background: #aaa;
    -webkit-border-radius: 1ex;
    padding: 2px;
    height: 2px;
    width: 5px;
}

::-webkit-scrollbar {
    background: #ddd;
    height: 2px;
    width: 5px;
}
