html.js.canvas.canvastext.geolocation.history.websockets.video.audio.localstorage.webworkers.applicationcache {
  background-color: #1e1e1e;
}

a.music.icon {
  border: none !important;
  margin: 2px 5px 5px;
}

div.music.wrapper {
  border: none !important;
}

a.photo.icon {
  border: none !important;
  margin: 2px 5px 5px;
}

a.player.icon {
  border: none !important;
  margin: 2px 5px 5px;
}

a.game.icon {
  border: none !important;
  margin: 2px 5px 5px;
}

a.drone.icon {
  border: none !important;
  margin: 2px 5px 5px;
}

a.uav.icon {
  border: none !important;
  margin: 2px 5px 5px;
}

a.plane.icon {
  border: none !important;
  margin: 2px 5px 5px;
}

a.launcher.icon {
  border: none !important;
  margin: 2px 5px 5px;
}

a.satellite.icon {
  border: none !important;
  margin: 2px 5px 5px;
}

a.weather.icon {
  border: none !important;
  margin: 2px 5px 5px;
}

a.info.icon {
  border: none !important;
  margin: 2px 5px 5px;
}

#address-bar {
  border: 0 solid black;
}

#address-bar-input {
  background: white;
  border: 2px solid black;
  border-radius: 10px;
}

#go {
  background: #000;
  color: white;
  margin: 0px 15px;
  padding-left: 0px;
  border: 2px solid black;
}

#canvas {
  background-color: #1e1e1e;
}
